force-app/main/default/flows/Form_Compteur_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_changes</name>
        <label>Set changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_LocationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_LocationCode.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_LocationMeter.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_GPSCoordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LatitudeNumeric</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_GPSCoordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongitudeNumeric</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_ConnectionMaterial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_ConnectionMaterial.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_BackflowPreventer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipement_anti_retour.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_PostMeterMaterial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_PostMeterMaterial.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_WastewaterConnectionStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_WastewaterConnectionStatus.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.FSM_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Index.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.FSM_IndexDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_IndexDate.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.FSM_ObsCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodeObservationFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkOrder.FSM_InterventionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_InterventionDate.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkOrder.FSM_BillableIntervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_BillableIntervention.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkOrder.FSM_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Comment.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.CompteurAccessible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Oui</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_LocationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_LocationCode.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_LocationMeter.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_GPSCoordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LatitudeNumeric</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_GPSCoordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongitudeNumeric</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_ConnectionMaterial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_ConnectionMaterial.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_BackflowPreventer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipement_anti_retour.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_PostMeterMaterial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_PostMeterMaterial.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_WastewaterConnectionStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_WastewaterConnectionStatus.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_MeterSerialNumberRemoval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.FSM_MeterMatricule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_IndexDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_IndexDate.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_PreviousReading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.FSM_PreviousReading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_PreviousReadingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.FSM_PreviousReadingDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_DailyConsumption_m3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.FSM_DailyConsumption_m3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_PreviousDailyConsumption_m3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.FSM_PreviousDailyConsumption_m3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_ObsCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodeObservationFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_SealInstalled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_SealInstalled.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_InterventionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_InterventionDate.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_BillableIntervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_BillableIntervention.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Comment.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012AY0000048my1YAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkOrderlineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset.FSM_SealInstalled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_SealInstalled.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_RadioTeleRNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_RadioTeleRNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_Index_m3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Index_m3.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_Index_liter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Index_liter.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_MeterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_MeterDate.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_Obs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Obs1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_RescheduleInstallation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_RescheduleInstallation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Index.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Child_Asset.FSM_RadioTeleRNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_RadioTeleRNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Child_Asset.FSM_Index_m3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Index_m3.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Child_Asset.FSM_Index_liter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Index_liter.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Child_Asset.FSM_MeterDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_MeterDate.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Child_Asset.FSM_Obs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Obs1.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Child_Asset.FSM_RescheduleInstallation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_RescheduleInstallation.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_PreviousReading2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.FSM_PreviousReading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_PreviousReadingDate2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset.FSM_PreviousReadingDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Work_Type_has_Dependent_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Changes2</name>
        <label>Set Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_WorkOrder.FSM_BillableIntervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intervention_facturable_au_client.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_LocationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_Emplacement.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emplacement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.CompteurAccessible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_LocationCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code_Emplacement.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emplacement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_BillableIntervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intervention_facturable_au_client.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_GPSCoordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>latitudeNumeric_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_GPSCoordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongitudeNumeric_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_ConnectionMaterial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_ConnectionMaterial_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_BackflowPreventer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipement_anti_retour_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_PostMeterMaterial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mat_riau_apr_s_compteur_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_PDS.FSM_WastewaterConnectionStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_WastewaterConnectionStatus_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012AY0000048my1YAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Comment1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkOrder.FSM_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_Comment1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkOrderlineItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkOrderlineItem.FSM_NotDoneReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_NotDoneReason.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_GPSCoordinates__Latitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>latitudeNumeric_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_GPSCoordinates__Longitude__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongitudeNumeric_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_ConnectionMaterial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_ConnectionMaterial_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_BackflowPreventer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Equipement_anti_retour_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_PostMeterMaterial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mat_riau_apr_s_compteur_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_WastewaterConnectionStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_WastewaterConnectionStatus_01.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Form.FSM_InterventionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_InterventionDate1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_WorkOrder.FSM_InterventionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSM_InterventionDate1.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Form_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoneChoice</name>
        <choiceText>Aucun</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PCS</name>
        <choiceText>PCS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PCS</stringValue>
        </value>
    </choices>
    <choices>
        <name>was</name>
        <choiceText>was</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>was</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>IsLlmTargetable</name>
        <value>
            <stringValue>{&quot;value&quot;:&quot;false&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CompteurAccessible_Decision</name>
        <label>CompteurAccessible?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Basic_Details_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Accessible</defaultConnectorLabel>
        <rules>
            <name>Accessible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompteurAccessible.isActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Full_form</targetReference>
            </connector>
            <label>Accessible</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Work_Type_has_Dependent_set</name>
        <label>If Work Type has Dependent set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Dependent_Work_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dependent_Work_Types</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LineItemCreationScreen</targetReference>
            </connector>
            <label>Has Dependent Work Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_WorkType_Exist</name>
        <label>If WorkType Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WorkTypeExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WorkType_For_WOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateWOLI</targetReference>
            </connector>
            <label>WorkTypeExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_WorkTypeSelected</name>
        <label>If WorkTypeSelected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOLI_WorkTypeSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequiresWOLICreation.isActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewWOLI_WorkType.selectedChoiceValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WorkType_For_WOLI</targetReference>
            </connector>
            <label>WOLI_WorkTypeSelected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DependentWorkType</name>
        <dataType>String</dataType>
        <displayField>FSM_Child_Work_Type__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_Parent_Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkType.Name</elementReference>
            </value>
        </filters>
        <object>Meter_Work_Type_Dependency__mdt</object>
        <sortField>FSM_Child_Work_Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>FSM_Child_Work_Type__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FSM_Location</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Longueur_PicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Length__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MotifFermetureBranchement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotifFermetureBranchement__c</picklistField>
        <picklistObject>PDS__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_BackflowPreventer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_BackflowPreventer__c</picklistField>
        <picklistObject>PDS__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_BillableIntervention</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_BillableIntervention__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_ConnectionMaterial</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ConnectionMaterial__c</picklistField>
        <picklistObject>PDS__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_FSM_Obs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Obs__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_FSM_ObsCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ObsCode__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_LocationCodeX</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LocationType</picklistField>
        <picklistObject>Location</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_NotDoneReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_NotDoneReason__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_PostMeterMaterial</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_PostMeterMaterial__c</picklistField>
        <picklistObject>PDS__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_SealInstalled</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_SealInstalled__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_ServicePointSourceStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_ServicePointSourceStatus__c</picklistField>
        <picklistObject>PDS__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_WastewaterConnectionStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_WastewaterConnectionStatus__c</picklistField>
        <picklistObject>PDS__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PSC_LocationCode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_LocationCode__c</picklistField>
        <picklistObject>PDS__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Q3_PicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Q3__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>R_PicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_R__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <environments>Offline</environments>
    <formulas>
        <name>Apres_reparametrage</name>
        <dataType>String</dataType>
        <expression>&apos;Après reparamétrage &apos; + TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>CodeObservationFormula</name>
        <dataType>String</dataType>
        <expression>IF({!FSM_ObsCode.selectedChoiceValues} = {!NoneChoice},&apos;&apos;,{!FSM_ObsCode.selectedChoiceValues})</expression>
    </formulas>
    <formulas>
        <name>FSM_IndexDateFormulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FSM_IndexDateTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>FSM_InterventionDateFormulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>LatitudeNumeric</name>
        <dataType>Number</dataType>
        <expression>Value({!Coordonnees_GPS.latitude})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>latitudeNumeric_01</name>
        <dataType>Number</dataType>
        <expression>Value({!Coordonnees_GPS_01.latitude})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LatitueLongitudeRequired</name>
        <dataType>Boolean</dataType>
        <expression>OR( ISBLANK({!Coordonnees_GPS.latitude}),ISBLANK({!Coordonnees_GPS.longitude}))</expression>
    </formulas>
    <formulas>
        <name>LatituteLogitudeRequired_01</name>
        <dataType>Boolean</dataType>
        <expression>OR( ISBLANK({!Coordonnees_GPS_01.latitude}),ISBLANK({!Coordonnees_GPS_01.longitude}))</expression>
    </formulas>
    <formulas>
        <name>LLRequired</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!Coordonnees_GPS.longitude})</expression>
    </formulas>
    <formulas>
        <name>LongitudeNumeric</name>
        <dataType>Number</dataType>
        <expression>Value({!Coordonnees_GPS.longitude})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LongitudeNumeric_01</name>
        <dataType>Number</dataType>
        <expression>Value({!Coordonnees_GPS_01.longitude})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PhotoApresPoseName</name>
        <dataType>String</dataType>
        <expression>&apos;PhotoApresPose&apos;+TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>PhotoAvantName</name>
        <dataType>String</dataType>
        <expression>&apos;PhotoAvant &apos;+TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>PhotoVueDensembleName</name>
        <dataType>String</dataType>
        <expression>&apos;PhotoVuedensemble &apos;+TEXT(NOW())</expression>
    </formulas>
    <formulas>
        <name>RequiredDecision</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!FSM_ObsCode.selectedChoiceValues} = &apos;CTR illisible&apos;)</expression>
    </formulas>
    <formulas>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <expression>{!GetWorkType.Name}</expression>
    </formulas>
    <interviewLabel>Form Compteur 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Form Compteur 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>DataCaptureFlow</processType>
    <recordCreates>
        <name>CreateWOLI</name>
        <label>CreateWOLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_form</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Get_WorkOrderlineItem.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012AY000004HoAzYAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Get_WorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_WorkType_For_WOLI.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PDS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkOrderlineItem.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Child_Asset</name>
        <label>get Child Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenOne</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dependent_Work_Types</name>
        <label>Get Dependent Work Types</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Child_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSM_Parent_Work_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Meter_Work_Type_Dependency__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form</name>
        <label>Get Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrderlineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DynamicDataCapture</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PDS</name>
        <label>Get PDS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWorkType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.FSM_PDS__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PDS__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder</name>
        <label>Get WorkOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkOrderlineItem.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrderlineItem</name>
        <label>Get WorkOrderlineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkType_For_WOLI</name>
        <label>Get WorkType For WOLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_WorkType_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewWOLI_WorkType.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWorkType</name>
        <label>GetWorkType</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dependent_Work_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WorkOrderlineItem.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_child_Asset</targetReference>
        </connector>
        <inputReference>Get_Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_child_Asset</name>
        <label>Update child Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_PDS</targetReference>
        </connector>
        <inputReference>get_Child_Asset</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_form</name>
        <label>Update Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_WorkOrder</targetReference>
        </connector>
        <inputReference>Get_Form</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Form_1</name>
        <label>Update Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_WorkOrder_1</targetReference>
        </connector>
        <inputReference>Get_Form</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PDS</name>
        <label>Update PDS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateWorkOrderLineItem</targetReference>
        </connector>
        <inputReference>Get_PDS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PDS_1</name>
        <label>Update PDS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_WorkOrderLineItem</targetReference>
        </connector>
        <inputReference>Get_PDS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrder</name>
        <label>Update WorkOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <inputReference>Get_WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrder_1</name>
        <label>Update WorkOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_PDS_1</targetReference>
        </connector>
        <inputReference>Get_WorkOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrderLineItem</name>
        <label>Update WorkOrderLineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_WorkOrderlineItem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWorkOrderLineItem</name>
        <label>UpdateWorkOrderLineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_WorkOrderlineItem</inputReference>
    </recordUpdates>
    <screens>
        <name>Basic_Details_Form</name>
        <label>Basic Details Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Changes2</targetReference>
        </connector>
        <fields>
            <name>Code_Emplacement</name>
            <choiceReferences>PSC_LocationCode</choiceReferences>
            <defaultValue>
                <elementReference>Get_PDS.FSM_LocationCode__c</elementReference>
            </defaultValue>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Code Emplacement</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Emplacement</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Emplacement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_PDS.FSM_Location__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Coordonnees_GPS_01</name>
            <extensionName>runtime_service_fieldservice:dcAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Coordonnées GPS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>Get_PDS.FSM_GPSCoordinates__Latitude__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>Get_PDS.FSM_GPSCoordinates__Longitude__s</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useCoordinates</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>LatituteLogitudeRequired_01</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_ConnectionMaterial_01</name>
            <choiceReferences>PCS_ConnectionMaterial</choiceReferences>
            <defaultValue>
                <elementReference>Get_PDS.FSM_ConnectionMaterial__c</elementReference>
            </defaultValue>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Matériau branchement</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Equipement_anti_retour_01</name>
            <choiceReferences>PCS_BackflowPreventer</choiceReferences>
            <defaultValue>
                <elementReference>Get_PDS.FSM_BackflowPreventer__c</elementReference>
            </defaultValue>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Equipement anti-retour</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Mat_riau_apr_s_compteur_01</name>
            <choiceReferences>PCS_PostMeterMaterial</choiceReferences>
            <defaultValue>
                <elementReference>Get_PDS.FSM_PostMeterMaterial__c</elementReference>
            </defaultValue>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Matériau après compteur</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Branchement_existant_01</name>
            <fieldText>Branchement existant</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Branchement_existant_01_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_WastewaterConnectionStatus_01</name>
                    <choiceReferences>PCS_WastewaterConnectionStatus</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_PDS.FSM_WastewaterConnectionStatus__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Assainissement raccordé/raccordable</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Non_ex_cution</name>
            <fieldText>Non exécution</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Non_ex_cution_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status_01</name>
                    <choiceReferences>PCS_Status</choiceReferences>
                    <defaultValue>
                        <stringValue>3NotDone</stringValue>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Statut</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_NotDoneReason</name>
                    <choiceReferences>PCS_NotDoneReason</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_WorkOrderlineItem.FSM_NotDoneReason__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Motif non fait</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_InterventionInformation</name>
            <fieldText>Information intervention</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FSM_InterventionInformation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_InterventionDate1</name>
                    <extensionName>runtime_service_fieldservice:dcDate</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Date d&apos;intervention</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxDate</name>
                        <value>
                            <elementReference>$Flow.CurrentDate</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FSM_InterventionDateFormulaToday</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Intervention_facturable_au_client</name>
                    <choiceReferences>PCS_BillableIntervention</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_WorkOrder.FSM_BillableIntervention__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Intervention facturable au client</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_Comment1</name>
                    <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Commentaire</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Full_form</name>
        <label>Full form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_changes</targetReference>
        </connector>
        <fields>
            <name>PDS</name>
            <fieldText>Caractéristiques du Point de service</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PDS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_LocationCode</name>
                    <choiceReferences>PSC_LocationCode</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_PDS.FSM_LocationCode__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Code emplacement</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_LocationMeter</name>
                    <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Emplacement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_PDS.FSM_Location__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxAllowedChars</name>
                        <value>
                            <numberValue>30.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Coordonnees_GPS</name>
                    <extensionName>runtime_service_fieldservice:dcAddress</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Coordonnées GPS</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>useCoordinates</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>latitude</name>
                        <value>
                            <elementReference>Get_PDS.FSM_GPSCoordinates__Latitude__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>longitude</name>
                        <value>
                            <elementReference>Get_PDS.FSM_GPSCoordinates__Longitude__s</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>LatitueLongitudeRequired</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_ConnectionMaterial</name>
                    <choiceReferences>PCS_ConnectionMaterial</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_PDS.FSM_ConnectionMaterial__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Matériau branchement</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Equipement_anti_retour</name>
                    <choiceReferences>PCS_BackflowPreventer</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_PDS.FSM_BackflowPreventer__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Equipement anti-retour</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_PostMeterMaterial</name>
                    <choiceReferences>PCS_PostMeterMaterial</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_PDS.FSM_PostMeterMaterial__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Matériau après compteur</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Branchement_existant</name>
            <fieldText>Branchement existant</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Branchement_existant_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_WastewaterConnectionStatus</name>
                    <choiceReferences>PCS_WastewaterConnectionStatus</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_PDS.FSM_WastewaterConnectionStatus__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Assainissement raccordé/raccordable</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Compteur_depose</name>
            <fieldText>Compteur déposé​</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Compteur_depose_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_IndexHistory</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Matricule&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; : {!Get_Asset.FSM_MeterMatricule__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;&lt;u&gt;Historique&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Index 2 (m3) : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;{!Get_Asset.FSM_Index__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date de relève d&apos;index 2&lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt; : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;{!Get_Asset.FSM_IndexDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;Index 3 (m3) : &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0);&quot;&gt;{!Get_Asset.FSM_PreviousReading__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date de relève d&apos;index 3&lt;/strong&gt;&lt;strong style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 12px;&quot;&gt; : &lt;/strong&gt;&lt;span style=&quot;background-color: rgba(0, 0, 0, 0); color: rgb(0, 0, 0); font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 12px;&quot;&gt;{!Get_Asset.FSM_PreviousReadingDate__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Consommation 1 (m3/jour)&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt; : {!Get_Asset.FSM_DailyConsumption_m3__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Consommation 2 (m3/jour) : &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Aptos, Aptos_EmbeddedFont, Aptos_MSFontService, sans-serif; font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!Get_Asset.FSM_PreviousDailyConsumption_m3__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_Index</name>
                    <extensionName>runtime_service_fieldservice:dcNumeric</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Index (m³)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxAllowedChars</name>
                        <value>
                            <numberValue>18.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>RequiredDecision</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FSM_Index.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_IndexDate</name>
                    <extensionName>runtime_service_fieldservice:dcDate</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Date de relève d&apos;index</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FSM_IndexDateFormulaToday</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxDate</name>
                        <value>
                            <elementReference>$Flow.CurrentDate</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_ObsCode</name>
                    <choiceReferences>PCS_FSM_ObsCode</choiceReferences>
                    <choiceReferences>NoneChoice</choiceReferences>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Code observation</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Emetteur_existant</name>
            <fieldText>Emetteur existant</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Emetteur_existant_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_RadioTeleRNumber</name>
                    <extensionName>runtime_service_fieldservice:dcNumeric</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>N° Radio / TéléR</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_Index_m3</name>
                    <extensionName>runtime_service_fieldservice:dcNumeric</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Index (m3)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_Index_liter</name>
                    <extensionName>runtime_service_fieldservice:dcNumeric</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Index (litre)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_MeterDate</name>
                    <extensionName>runtime_service_fieldservice:dcDateTime</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Date de relève (date et heure)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_Obs1</name>
                    <choiceReferences>PCS_FSM_Obs</choiceReferences>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Code observation</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Photo_Apr_s_reparam_trage</name>
                    <extensionName>runtime_service_fieldservice:dcUpImage</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Photo – Après reparamétrage (matricule et index lisibles) </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Form.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imagesName</name>
                        <value>
                            <elementReference>Apres_reparametrage</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_RescheduleInstallation</name>
                    <extensionName>runtime_service_fieldservice:dcCheckbox</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pose déportée</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Plomb</name>
            <fieldText>Plomb</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Plomb_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_SealInstalled</name>
                    <choiceReferences>PCS_SealInstalled</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_Asset.FSM_SealInstalled__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Compteur plombé</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ex_cution</name>
            <fieldText>Exécution</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ex_cution_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>PCS_Status</choiceReferences>
                    <defaultValue>
                        <stringValue>2Done</stringValue>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Statut</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FSM_CommentHeader</name>
            <fieldText>Information intervention</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FSM_CommentHeader_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_InterventionDate</name>
                    <extensionName>runtime_service_fieldservice:dcDate</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Date d&apos;intervention</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>FSM_InterventionDateFormulaToday</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxDate</name>
                        <value>
                            <elementReference>$Flow.CurrentDate</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_BillableIntervention</name>
                    <choiceReferences>PCS_BillableIntervention</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_WorkOrder.FSM_BillableIntervention__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Intervention facturable au client</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FSM_Comment</name>
                    <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Commentaire</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Document</name>
            <fieldText>Document</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FSM_OverviewPhoto</name>
                    <extensionName>runtime_service_fieldservice:dcUpImage</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Photo - Vue d&apos;ensemble</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Form.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imagesName</name>
                        <value>
                            <elementReference>PhotoVueDensembleName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LineItemCreationScreen</name>
        <label>LineItemCreationScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_WorkTypeSelected</targetReference>
        </connector>
        <fields>
            <name>RequiresWOLICreation</name>
            <extensionName>runtime_service_fieldservice:dcToggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Réparation pièce​ défectueuse ?​</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewWOLI_WorkType</name>
            <choiceReferences>DependentWorkType</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Ajouter un élément d’intervention</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RequiresWOLICreation.isActive</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenOne</name>
        <label>ScreenOne</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CompteurAccessible_Decision</targetReference>
        </connector>
        <fields>
            <name>CompteurAccessible</name>
            <extensionName>runtime_service_fieldservice:dcToggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Avez-vous accès au compteur ? </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>parentObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
