force-app/main/default/flows/FSM_Factory_AssetRenewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_definition_ids</name>
        <label>add definition ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssetDefinitionIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_asset_Attribute.FSM_AttributeDefinition__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_asset_Attribute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Asset_Attribute</name>
        <label>Append Asset Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssetAttributes_JSON_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_AssetAttribute_JSON</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Asset_Attribute_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asset_Attributes_JSON_String_Assignment</name>
        <label>Asset Attributes JSON String Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssetAttributes_JSON_String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetAttribute_JSON_Row</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Asset_Attribute_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Asset_Assignment</name>
        <label>Create New Asset Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_Description.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.FSM_LocalAssetCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_CodeLocal.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.FSM_Manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_Fabricant.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.FSM_InstallerSupplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_InstallateurFournisseur.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_SerialNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_Status.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.FSM_AssetType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_NewAssetType.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.FSM_Modele__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_Model.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_AssetType_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewAsset_NewAssetType.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetId_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNew_Asset_Record_Variable.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssetName.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateNew_Asset_Record_Variable.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_Definition_links</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_JSON</name>
        <label>Debug JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Final_JSON_Debug</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_JSON_Payload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Asset_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nullify_Variable</name>
        <label>Nullify Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttributeRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_asset_definitions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Attribute</name>
        <label>Set Asset Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextElement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAttributeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttributeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Attribute2</name>
        <label>Set Asset Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckboxElement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAttributeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttributeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Attribute3</name>
        <label>Set Asset Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumElement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAttributeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttributeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Attribute4</name>
        <label>Set Asset Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateElement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAttributeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttributeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Attribute5</name>
        <label>Set Asset Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTimeElement.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAttributeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttributeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Attribute6</name>
        <label>Set Asset Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeDefinitionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PicklistElement.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetId_Variable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AttributeRecord.AttributeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_asset_definitions.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetAttributeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AttributeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Asset_Details</name>
        <label>Set Asset Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset_Details.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_Details.FSM_LocalAssetCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodeLocal.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_Details.FSM_Manufacturer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fabricant.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_Details.FSM_InstallerSupplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallateurFournisseur.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_Details.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SerialNumber.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_Details.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_Details.FSM_AssetType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssetType.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Asset_Details.FSM_Modele__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Model.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSM_AssetType_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssetType.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetId_Variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectNewAsset.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Asset_Definition_links</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>IsLlmTargetable</name>
        <value>
            <stringValue>{&quot;value&quot;:&quot;false&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Asset_Availablity</name>
        <label>Check Asset Availablity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Asset_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Asset Available</defaultConnectorLabel>
        <rules>
            <name>Nothing_Choosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Not_Available_Checkbox.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectNewAsset.selectedChoiceValues</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Asset_Block</targetReference>
            </connector>
            <label>Nothing Choosen</label>
        </rules>
        <rules>
            <name>Create_New_Asset_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Not_Available_Checkbox.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Asset_Screen</targetReference>
            </connector>
            <label>Create New Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_New_Asset_Decision</name>
        <label>Insert New Asset ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Asset_Attributes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use the existing Asset</defaultConnectorLabel>
        <rules>
            <name>Insert_New_Asset_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Asset_Not_Available_Checkbox.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateNew_Asset_Record_Variable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Asset_CreateRecord</targetReference>
            </connector>
            <label>Insert New Asset</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_First_JSON</name>
        <label>Is First JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Append_Asset_Attribute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_First_Json</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetAttributes_JSON_String</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Attributes_JSON_String_Assignment</targetReference>
            </connector>
            <label>Yes_First_Json</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Attribute</name>
        <label>Type of Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nullify_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_asset_definitions.DataType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TextBlock</targetReference>
            </connector>
            <label>Is Text</label>
        </rules>
        <rules>
            <name>Is_Checkbox</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_asset_definitions.DataType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Checkbox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckBlock</targetReference>
            </connector>
            <label>Is Checkbox</label>
        </rules>
        <rules>
            <name>Is_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_asset_definitions.DataType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NumBlock</targetReference>
            </connector>
            <label>Is Number</label>
        </rules>
        <rules>
            <name>Is_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_asset_definitions.DataType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Date</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateBlock</targetReference>
            </connector>
            <label>Is Date</label>
        </rules>
        <rules>
            <name>Is_DateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_asset_definitions.DataType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Datetime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DateTimeBlock</targetReference>
            </connector>
            <label>Is DateTime</label>
        </rules>
        <rules>
            <name>Is_Picklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_asset_definitions.DataType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Picklist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PicklIstBlock</targetReference>
            </connector>
            <label>Is Picklist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AssetRecordSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En projet</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012AY000004HtPBYA0</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>ChosenAsset.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_AssetType__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FabricantPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FSM_Manufacturer__c</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistChoiceSet</name>
        <dataType>String</dataType>
        <displayField>DisplayValueFormula__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PicklistId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_through_asset_definitions.PicklistId</elementReference>
            </value>
        </filters>
        <object>AttributePicklistValue</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <environments>Offline</environments>
    <formulas>
        <name>Append_AssetAttribute_JSON</name>
        <dataType>String</dataType>
        <expression>{!AssetAttributes_JSON_String} &amp; &quot;,&quot; &amp; {!AssetAttribute_JSON_Row}</expression>
    </formulas>
    <interviewLabel>FSM_Factory_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Usine Asset Renewal Form</label>
    <loops>
        <name>Iterate_Asset_Attribute_Collection</name>
        <label>Iterate Asset Attribute Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>AssetAttributeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_First_JSON</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Debug_JSON</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_asset_Attribute</name>
        <label>Loop On asset Attribute</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Asset_Definition_links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_definition_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Asset_Definitions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_asset_definitions</name>
        <label>loop through asset definitions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Asset_Definitions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_of_Attribute</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Asset_Attribute_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>DataCaptureFlow</processType>
    <recordCreates>
        <name>Create_Asset_Attributes</name>
        <label>Create Asset Attributes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <inputReference>AssetAttributeCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Asset_CreateRecord</name>
        <label>Create New Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Asset_Attributes</targetReference>
        </connector>
        <inputReference>CreateNew_Asset_Record_Variable</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Definition_links</name>
        <label>Get Asset Definition links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_asset_Attribute</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>FSM_AssetType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FSM_AssetType_Variable</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FSM_AssetAtribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Definitions</name>
        <label>Get Asset Definitions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_asset_definitions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AssetDefinitionIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AttributeDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Details</name>
        <label>Get Asset Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipmentDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectNewAsset.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form</name>
        <label>Get Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DynamicDataCapture</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getwoli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Form.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getwoli</name>
        <label>Get woli</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Asset_Block</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Asset_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>CheckBlock</name>
        <label>CheckBlock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Asset_Attribute2</targetReference>
        </connector>
        <fields>
            <name>Attribute2</name>
            <fieldText>Attribute</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attribute2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CheckboxElement</name>
                    <extensionName>runtime_service_fieldservice:dcCheckbox</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>loop_through_asset_definitions.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Asset_Screen</name>
        <label>Create Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Asset_Assignment</targetReference>
        </connector>
        <fields>
            <name>CreateNewAsset_EquipementSection</name>
            <fieldText>Equipement</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateNewAsset_EquipementSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewAssetName</name>
                    <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CreateNewAsset_Description</name>
                    <extensionName>runtime_service_fieldservice:dcLongText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateNewAsset_CodeLocal</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Code Local</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateNewAsset_Fabricant</name>
            <choiceReferences>FabricantPicklist</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Fabricant</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateNewAsset_InstallateurFournisseur</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Installateur/Fournisseur</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateNewAsset_Model</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Modèle</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateNewAsset_SerialNumber</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Serial Number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreateNewAsset_Status</name>
            <choiceReferences>StatusPicklist</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Etat</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_2_of_Changer_le_type_d_actif</name>
            <fieldText>Modifier le type d&apos;actif (si nécessaire)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_2_of_Changer_le_type_d_actif_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreateNewAsset_NewAssetType</name>
                    <choiceReferences>AssetType</choiceReferences>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Type d&apos;actif</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DateBlock</name>
        <label>DateBlock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Asset_Attribute4</targetReference>
        </connector>
        <fields>
            <name>Attribute4</name>
            <fieldText>Attribute</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attribute4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateElement</name>
                    <extensionName>runtime_service_fieldservice:dcDate</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>loop_through_asset_definitions.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$Flow.CurrentDate</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DateTimeBlock</name>
        <label>DateTimeBlock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Asset_Attribute5</targetReference>
        </connector>
        <fields>
            <name>Attribute5</name>
            <fieldText>Attribute</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attribute5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateTimeElement</name>
                    <extensionName>runtime_service_fieldservice:dcDateTime</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>loop_through_asset_definitions.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>$Flow.CurrentDateTime</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EquipmentDetails</name>
        <label>Equipment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Asset_Details</targetReference>
        </connector>
        <fields>
            <name>EquipementSection</name>
            <fieldText>Equipement</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EquipementSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <extensionName>runtime_service_fieldservice:dcLongText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Asset_Details.Description</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CodeLocal</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Code Local</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Asset_Details.FSM_LocalAssetCode__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fabricant</name>
            <choiceReferences>FabricantPicklist</choiceReferences>
            <defaultValue>
                <elementReference>Get_Asset_Details.FSM_Manufacturer__c</elementReference>
            </defaultValue>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Fabricant</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InstallateurFournisseur</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Installateur/Fournisseur</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Asset_Details.FSM_InstallerSupplier__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Model</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Modèle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Asset_Details.FSM_Modele__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SerialNumber</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Serial Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Asset_Details.SerialNumber</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>StatusPicklist</choiceReferences>
            <defaultValue>
                <elementReference>Get_Asset_Details.Status</elementReference>
            </defaultValue>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Etat</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Changer_le_type_d_actif</name>
            <fieldText>Modifier le type d&apos;actif (si nécessaire)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Changer_le_type_d_actif_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewAssetType</name>
                    <choiceReferences>AssetType</choiceReferences>
                    <defaultValue>
                        <elementReference>Get_Asset_Details.FSM_AssetType__c</elementReference>
                    </defaultValue>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldText>Type d&apos;actif</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NumBlock</name>
        <label>NumBlock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Asset_Attribute3</targetReference>
        </connector>
        <fields>
            <name>Attribute3</name>
            <fieldText>Attribute</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attribute3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumElement</name>
                    <extensionName>runtime_service_fieldservice:dcNumeric</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>loop_through_asset_definitions.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PicklIstBlock</name>
        <label>PicklistBlock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Asset_Attribute6</targetReference>
        </connector>
        <fields>
            <name>Attribute6</name>
            <fieldText>Attribute</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attribute6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PicklistQsn</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!loop_through_asset_definitions.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PicklistElement</name>
                    <choiceReferences>PicklistChoiceSet</choiceReferences>
                    <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Asset_Block</name>
        <label>Select Asset block</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Asset_Availablity</targetReference>
        </connector>
        <fields>
            <name>ChooseOptionScreen</name>
            <fieldText>&lt;p&gt;Select an Asset or &apos;Asset Not Available&apos; option to proceed further&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>SelectNewAsset.selectedChoiceValues</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Asset_Not_Available_Checkbox.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectNewAsset</name>
            <choiceReferences>AssetRecordSet</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Sélectionnez le nouvel actif</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Asset_Not_Available_Checkbox</name>
            <extensionName>runtime_service_fieldservice:dcCheckbox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset Not Available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TextBlock</name>
        <label>TextBlock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Asset_Attribute</targetReference>
        </connector>
        <fields>
            <name>Attribute1</name>
            <fieldText>Attribute</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Attribute1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TextElement</name>
                    <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>loop_through_asset_definitions.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Asset_JSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{   &quot;Description&quot;: &quot;{!CreateNewAsset_Description.value}&quot;,   &quot;FSM_LocalAssetCode__c&quot;: &quot;{!CreateNewAsset_CodeLocal.value}&quot;,   &quot;FSM_Manufacturer__c&quot;: &quot;{!CreateNewAsset_Fabricant.selectedChoiceValues}&quot;,   &quot;FSM_InstallerSupplier__c&quot;: &quot;{!CreateNewAsset_InstallateurFournisseur.value}&quot;,   &quot;SerialNumber&quot;: &quot;{!CreateNewAsset_SerialNumber.value}&quot;,   &quot;Status&quot;: &quot;{!CreateNewAsset_Status.selectedChoiceValues}&quot;,   &quot;FSM_AssetType__c&quot;: &quot;{!CreateNewAsset_NewAssetType.selectedChoiceValues}&quot;,   &quot;FSM_Model__c&quot;: &quot;{!CreateNewAsset_Model.value}&quot;,   &quot;Name&quot;: &quot;{!NewAssetName.value}&quot; }</stringValue>
        </value>
    </variables>
    <variables>
        <name>AssetAttribute_JSON_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetAttribute_JSON_Row</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{   &quot;AttributeDefinitionId&quot;: &quot;{!Iterate_Asset_Attribute_Collection.AttributeDefinitionId}&quot;,   &quot;AttributeName&quot;: &quot;{!Iterate_Asset_Attribute_Collection.AttributeName}&quot;,   &quot;AttributeValue&quot;: &quot;{!Iterate_Asset_Attribute_Collection.AttributeValue}&quot;,   &quot;AssetId&quot;: &quot;{!Iterate_Asset_Attribute_Collection.AssetId}&quot; }</stringValue>
        </value>
    </variables>
    <variables>
        <name>AssetAttributeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetAttribute</objectType>
    </variables>
    <variables>
        <name>AssetAttributes_JSON_Array</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[ {!AssetAttributes_JSON_String} ]</stringValue>
        </value>
    </variables>
    <variables>
        <name>AssetAttributes_JSON_String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetDefinitionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetId_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AttributeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetAttribute</objectType>
    </variables>
    <variables>
        <name>ChosenAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CreateNew_Asset_Record_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Final_JSON_Debug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Final_JSON_Payload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{   &quot;asset&quot;: {!Asset_JSON},   &quot;assetAttributes&quot;: {!AssetAttributes_JSON_Array} }</stringValue>
        </value>
    </variables>
    <variables>
        <name>FSM_AssetType_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocalDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
